/* Normalizes */
:root {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	background-image: url('assets/images/bg.jpg');
	background-position: center 38px;
}
/* ============== */


.wrapper {
	position: relative;
	width: 700px;
	height: 400px;
	margin: 100px auto 0;
}

.wrapper > input {
	display: none;
}

.slider {
	position: relative;
	overflow: hidden;
	width: inherit;
	height: inherit;
	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
	background-color: #ddd;
}


.slides {
	position: absolute;
	width: inherit;
	height: inherit;
}

.slide-1 {
	background-image: url('./assets/images/camaro.jpg');
}
.slide-2 {
	background-image: url('./assets/images/dodge.jpg');
}
.slide-3 {
	background-image: url('./assets/images/ford.jpg');
}
.slide-4 {
	background-image: url('./assets/images/bmw.jpg');
}

.wrapper .controls {
	display: flex;
	justify-content: center;
	width: inherit;
	margin-top: 15px;
}
.controls label + label {
	margin-left: 20px;
}
.wrapper label {
	display: inline-block;
	position: relative;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	cursor: pointer;
	transition: background ease-in-out .3s;
}

.wrapper label::after {
	content: " ";
	display: block;
	position: absolute;
	left: -2px;
	top: -2px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid #ddd;
}

.wrapper label:hover,
#slider-1:checked ~ .controls label:nth-of-type(1),
#slider-2:checked ~ .controls label:nth-of-type(2),
#slider-3:checked ~ .controls label:nth-of-type(3),
#slider-4:checked ~ .controls label:nth-of-type(4) {
	background: #ddd;
}






